@import "./normalize.css";

:root {
	--black: #3B434E;
	--white: #FFF;
	--primary: #7653FC;
	--red: #DE0000;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--grey-light: #EBEBEB;
	--primary-hover: #281D5E;
	--grey-dark: #787D85;
	--grey-A4: #A4A4A4;
	--fon-family: "Noto Sans Display", sans-serif;
}

body,
html {
	margin: 0;
	padding: 0;

	color: var(--black);

	background: var(--grey-light);

	font-family: "Noto Sans Display", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}
